<h1 class="mb-4 text-center">Editar Usuario</h1>
<form action="/usuarios/{{usuario.id}}?_method=PUT" method="POST" class="needs-validation" novalidate>
  <div class="row">
    <!-- Usuario -->
    <div class="col-md-6 mb-3">
      <label for="usuario" class="form-label">Usuario:</label>
      <div class="input-group">
        <span class="input-group-text">@</span>
        <input type="text" id="usuario" name="usuario" class="form-control" value="{{usuario.usuario}}" required>
        <div class="invalid-feedback">
          Por favor ingrese un nombre de usuario.
        </div>
      </div>
    </div>

    <!-- Correo -->
    <div class="col-md-6 mb-3">
      <label for="correo" class="form-label">Correo:</label>
      <input type="email" id="correo" name="correo" class="form-control" value="{{usuario.correo}}" required>
      <div class="invalid-feedback">
        Por favor ingrese un correo válido.
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Contraseña -->
    <div class="col-md-6 mb-3">
      <label for="contrasenia" class="form-label">Contraseña:</label>
      <input type="password" id="contrasenia" name="contrasenia" class="form-control" value="{{usuario.contrasenia}}" required>
      <div class="invalid-feedback">
        Por favor ingrese una contraseña.
      </div>
    </div>

    <!-- Teléfono -->
    <div class="col-md-6 mb-3">
      <label for="telefono" class="form-label">Teléfono:</label>
      <input type="text" id="telefono" name="telefono" class="form-control" value="{{usuario.telefono}}" required>
      <div class="invalid-feedback">
        Por favor ingrese un número de teléfono.
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Dirección -->
    <div class="col-md-12 mb-3">
      <label for="direccion" class="form-label">Dirección:</label>
      <input type="text" id="direccion" name="direccion" class="form-control" value="{{usuario.direccion}}" required>
      <div class="invalid-feedback">
        Por favor ingrese una dirección.
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Rol -->
    <div class="col-md-6 mb-3">
      <label for="rol_id" class="form-label">Rol:</label>
      <select id="rol_id" name="rol_id" class="form-control" required>
        <option value="">Seleccione un Rol</option>
        {{#each roles}}
          <option value="{{this.id}}" {{#if (eq this.id ../usuario.rol_id)}}selected{{/if}}>{{this.descripcion}}</option>
        {{/each}}
      </select>
      <div class="invalid-feedback">
        Por favor seleccione un rol.
      </div>
    </div>

    <!-- Estado -->
    <div class="col-md-6 mb-3">
      <label for="estado_id" class="form-label">Estado:</label>
      <select id="estado_id" name="estado_id" class="form-control" required>
        <option value="">Seleccione un Estado</option>
        {{#each estados}}
          <option value="{{this.id}}" {{#if (eq this.id ../usuario.estado_id)}}selected{{/if}}>{{this.descripcion}}</option>
        {{/each}}
      </select>
      <div class="invalid-feedback">
        Por favor seleccione un estado.
      </div>
    </div>
  </div>

  <!-- Botones -->
<div class="text-right">
    <a href="/usuarios" class="btn btn-secondary">Volver a la lista de usuarios</a>
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>
